* {
 background-color: rgb(51, 50, 50);  
 font-family:Arial, Helvetica, sans-serif;  
 box-sizing: border-box;
 }

body {
    
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

header h1 {
    font-weight: 700;
    color:rgb(223, 72, 223);
    text-align: center;
}

header p {
    color: white;
    margin: 0px 50px 0px 50px;
    text-align: center;
}

.CSS-snippet-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.CSS-snippet {
    border-style:dashed;
    border-width: 2px;
    border-color: white;
    margin: 50px 15px 30px 15px;
    flex: 0 0 300px;
}

.CSS-snippet header {
    color: violet;
    text-align: left;
    font-weight: 700;
    font-size: 25px;
    border-style: solid;
    border-radius: 10px;
    border-width: 2px;
    border-color: white;
    padding: 10px;
    margin: -25px 15px 0 15px;

}

.description {
    color: violet;
    text-align: left;
    margin: 0px 15px 0px 15px;
}

pre {
    color: white;
    text-align: left;
    font-family: monospace;
    background: linear-gradient(rgb(150, 0, 150), magenta);
    margin: 10px 15px 0px 15px;
    padding: 15px;
    border-radius: 10px;
    user-select: none;
    user-select: auto;
    user-select: text;
    user-select: contain;
    user-select: all;
}


